{% extends "base.html" %}
{% block title %}Edit post{% endblock %}
{% block body %}
	<div class="container">
		<ol class="breadcrumb">
  			<li><a href="/">Home</a></li>
  			<li><a href="/posts/{{article.key().id()}}">{{article.title}}</a></li>
  			<li class="active">Edit</li>
  		</ol>

		<form method="post">
			<div class="form-group {% if error %}has-error{% endif %}">
				<label>Title</label>
				<label class="control-label">{{error}}</label>
        		<input type="text" class="form-control" name="subject" value="{{title}}" placeholder="Title">
			</div>
			<div class="form-group {% if error %}has-error{% endif %}">
				<label>Content</label>
        		<textarea class="form-control" name="content" placeholder="Content">{{content}}</textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
{% endblock %}