{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block body %}

    <div class="container">

      <h2>Sign up</h2>
    <form method="post">
      <div class="form-group {% if user_error %}has-error{% endif %}">
        <label>Username</label>
        <label class="control-label" for="inputError1">{{user_error}}</label>
        <input type="text" class="form-control" name="username" value="{{user}}" placeholder="Username">
      </div>
      <div class="form-group {% if pass_error %}has-error{% endif %}">
        <label>Password</label>
        <label class="control-label" for="inputError1">{{pass_error}}</label>
        <input type="password" class="form-control" name="password" value="" placeholder="Password">
      </div>
      <div class="form-group {% if pass2_error %}has-error{% endif %}">
        <label>Verify Password</label>
        <label class="control-label" for="inputError1">{{pass2_error}}</label>
        <input type="password" class="form-control" name="verify" value="" placeholder="Password">
      </div>
      <div class="form-group {% if email_error %}has-error{% endif %}">
        <label>Email (optional)</label>
        <label class="control-label" for="inputError1">{{email_error}}</label>
        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>


    <br><br>

    <h4 class="text-center">Already have an account? <a href="/login">Log in</a> instead.</h4>

  </div>
{% endblock %}